%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        AfriPédia version 001
        .row
        .fa.fa-envelope
        = mail_to 'henrylepa@henrylepa.com'
        .row
      .col-md-4
        Politique de confidentialité
        .row
        Termes & conditions
      .col-md-4
        Partagez ce que vous savez
        .row
        = link_to 'Enseigner sur Afripédia', new_course_path
%br